@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-color: #d5e1ef;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  font-family: outfit;
}
.cont {
  background-color: white;
  width: 320px;
  height: 497px;
  border-radius: 20px;
  margin-top: 100px;
}
.cont2 {
  margin-left: 10px;
}

.cont3 {
  margin-left: 23px;
  width: 288px;
  height: 56px;
}
.cont4 {
  margin-top: 30px;
  margin-left: 30px;
  width: 256px;
  height: 57px;
  top: 72px;
  left: 16px;
}
